/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin: 10px 10px 10px 10px;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
i {
  padding: 5px;
}
button {
}
button:hover {
  filter: brightness(120%);
}

/* utils */
body {
  font-family: Arial, Helvetica, sans-serif;
}
main {
  background: aliceblue;
  padding-top: 60px;
}
/* DEBUG */
footer {
  height: 500px;
  width: 100%;
}

/* header */

.logo-header {
  padding: 5px;
}

.dropbox-header {
  padding: 10px;
}

.header-link {
  display: flex;
  justify-content: space-between;
}

.align-nav-header {
  flex: 1;
  width: 65%;
}

.start {
  color: white;
  background-color: #0061ff;
  border: none;
  cursor: pointer;
  font-size: medium;
  height: 35px;
  width: 60px;
}

/* main */

.container {
  padding-top: 80px;
  max-width: 1080px;
  margin: 0 auto;
}

.title-h1 {
  font-size: 60px;
}
.para-container {
  display: flex;
}
.para-content {
  padding-top: 115px;
}
.para-text {
  width: 38vh;
  text-align: left;
}
/* button prova */
.trial {
  color: white;
  background-color: #0061ff;
  border: none;
  cursor: pointer;
  font-size: medium;
  padding: 15px;
  margin: 20px 20px;
}
.down-main-arrow {
  font-size: 50px;
  margin-top: 100px;
  cursor: pointer;
}

.jumbo {
  position: relative;
  height: 500px;
  top: 60px;
}
/* section */
.section-container {
  display: inline-block;
  width: 100%;
  padding: 50px;
}
.section-h2 {
  text-align: center;
  font-size: 25px;
  padding-top: 50px;
}
.month,
.text-month {
  text-align: center;
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.billing {
  text-align: center;
  padding: 30px;
  margin-right: 310px;
}
/* cards */
.section-card,
.container-long-card {
  display: flex;
  justify-content: center;
}

.card {
  border: 1px solid #d5d5d8;
  width: 300px;
  height: 900px;
  margin: 35px;
}
.longer-card {
  border: 1px solid #d5d5d8;
  height: 300px;
  width: 1045px;
  margin: 35px;
}
/* content cards */
.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d5d5d8;
  height: 50px;
  text-align: center;
}
.text-card {
  text-align: left;
  padding: 25px;
}
.comment-card {
  padding: 10px;
}
.center-button {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.comment-card-button {
  width: 100%;
  color: white;
  background-color: #0061ff;
  border: none;
  cursor: pointer;
  font-size: medium;
}

.link-text {
  color: #0061ff;
  text-decoration: underline;
}
.mini-bar {
  border: 1px solid #d5d5d8;
  width: 50px;
  margin: 5px 5px 5px 5px;
}
.hr-long-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d5d5d8;
  height: 50px;
  text-align: center;
}
.spaced {
  display: flex;
  justify-content: space-between;
}
.inside-space {
  padding: 30px;
  margin-top: 10px;
}

.longer-card-button {
  color: white;
  background-color: #0061ff;
  border: none;
  cursor: pointer;
  font-size: medium;
  padding: 10px;
}

/* first-img-section */

.partner-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.text-img-container {
  text-align: center;
}
.partner-button {
  color: white;
  background-color: #0061ff;
  border: none;
  cursor: pointer;
  font-size: medium;
  padding: 10px;
}

/* Business section */
.business-container {
  margin-top: 50px;
}
.images-business {
  display: flex;
}
.content-boxes,
.text-title-business,
.para-business {
  padding: 15px;
}

/* Utilizzo */
.info-business {
  width: 75vh;
  text-align: center;
}
.h2-business {
  text-align: left;
  font-size: 25px;
  padding: 25px;
}
.link-business {
  padding: 25px;
  text-align: left;
}

/* sponsor */
.container-sponsor {
  margin-top: 100px;
}
.box-container-card {
  display: flex;
  height: 600px;
}
.box-card {
  width: 100%;
}
.card-sponsor {
  display: flex;
  width: 100%;
  height: 50%;
}

.designit-card,
.arizona-card,
.florida-card,
.topps-card,
.bicycle-card,
.hearst-card,
.planet-card,
.clear-card {
  display: flex;
  width: 100%;
}
.center-card {
  height: 600px;
  background-color: #f5f5f5;
}

/* sponsor-bg */
.designit-card {
  border: 20px solid #d1e9cd;
  background-color: #a2d39b;
  padding: 50px;
  width: calc(100% - 60px);
}
.arizona-card {
  background-color: #61082b;
  padding: 50px;
}
.florida-card {
  background-color: #0093ce;
  padding: 50px;
  height: 300px;
}
.topps-card {
  background-color: #ff1c1c;
  padding: 50px;
}
.bicycle-card {
  background-color: #d5001f;
  padding: 50px;
}
.hearst-card {
  background-color: #b4d0e7;
  padding: 50px;
}
.planet-card {
  background-color: #0d2481;
  padding: 50px;
}
.clear-card {
  background-color: #ffd830;
  padding: 50px;
}
.designit-center {
  padding: 55px 0 0 55px;
  width: 300px;
}
.mini-bar-designit {
  border: 1px solid #d5d5d8;
  width: 95px;
  margin-left: 55px;
}
.para-text-designit {
  padding: 20px;
  text-align: left;
  margin-top: 85px;
}
/* svg */
.designit,
.arizona,
.florida,
.topps,
.bicycle,
.hearst,
.planet,
.clear {
  padding: 25px;
  filter: invert(1);
}
.florida {
  margin-top: auto;
  margin-bottom: auto;
}

/* azurine bar */

.azurine-bar {
  display: inline-block;
  height: 350px;
  width: 100%;
  background-color: #b4d0e7;
}
.azurine-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h2-azurine {
  color: #61082b;
}
.wine-text {
  font-size: 35px;
  width: 80vh;
  padding: 150px;
}

.azurine-button {
  border: none;
  cursor: pointer;
  font-size: medium;
  padding: 15px;
}
/* faq-card */
.faq-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.faq-box {
  width: 50%;
}
.faq-title {
  margin-top: 200px;
  width: 100%;
}
.h2-faq {
  font-size: 35px;
  padding-bottom: 50px;
}
.h4-faq-text {
  display: flex;
  justify-content: space-between;
}
.faq-line {
  height: 100px;
  padding-top: 40px;
  border: 1px solid black;
  border-left: none;
  border-right: none;
}
/* footer */
.black-footer {
  margin-top: 150px;
  background-color: black;
  height: 600px;
}

.footer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.black-card {
  color: white;
}

.h4-footer,
.para-footer {
  padding: 10px;
  margin: 10px 10px 10px 10px;
}
.para-footer {
  margin-top: 15px;
  cursor: pointer;
}
.footer-bar {
  margin-top: 80px;
  margin-left: 490px;
  border: 1px solid grey;
  width: 110px;
}
.language {
  color: grey;
  margin-top: 20px;
  margin-left: 490px;
  cursor: pointer;
}
